@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root {
  --foreground-rgb: 15, 15, 15;
  --background-end-rgb: 173, 216, 230; /* Light blue */
  --background-start-rgb: 255, 255, 255; /* Dark blue */
  /* smooth scroll */
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  ); */
}

.gradient-bg {
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

.thick-underline {
  @apply border-b-8 border-blue-800;
  display: inline-block; /* This is to ensure the border spans only the text width */
  line-height: 1; /* Adjust line height to control the distance between text and underline */
}

.loader {
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.3); /* Light grey */
  border-top-color: #3498db; /* Blue */
  border-radius: 50%;
  width: 1em; /* Use em units for scalability */
  height: 1em; /* Use em units for scalability */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

input:focus,
textarea:focus,
.default-focus-within:focus-within {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: #f8aa1b;
}

.radio-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.skeleton-radio-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e0e0e0;
}
